<!-- start of navbar -->
<nav class = "navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

      </button>
      <a class="navbar-brand" href="#">TimeOut</a>
      <ul class="nav navbar-nav">
        <li>
          <a href="/home/#/friends">Friends</a>
        </li>
        <li>
          <a href="/home/#/yourtimes">Your Availability</a>
        </li>        
        <li>
          <a href="/home/#/set_time">Set Availability</a>
        </li>
        <li>
          <a href="/home/#/whoisfree">Who is free?</a>
        </li>
      </ul>
    


    </div>
        <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>
<!-- end of navbar -->