<div class = "collapse out" id ="moreinfo">
<div class = "row">
	
	<div >
		<div class = "text-center">
			<h1>How does it work?</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class = "col-md-4">
		<h2>First</h2>
		<i class="fa fa-user-plus"></i>
		<p>Add your friend on the app</p>
	</div>	

	<div class = "col-md-4">
		<h2>Second</h2>
		<i class="fa fa-clock-o"></i>
		<p>Set your own availabilities</p>
	</div>	

	<div class = "col-md-4">
		<h2>Third</h2>
		<i class="fa fa-calendar"></i>
		<p>Watch the app output the timeslots where both you and your friend are free!</p>
	</div>
	
</div>
</div>
<div class="jumbotron headerwrap">
  <div class="container text-center" ng-controller="homecontroller">
  <br>
   <br>
        <br>
        <br> 
        <br>
        <br>
        <br>
    <h1>
	    Welcome Back Player
	 </h1>
    <h3>Take some time out of your life</h3>
    <h2>Timeout is an application that allows you to connect and keep in touch with your friends</h2>
    <p><a class="btn btn-primary btn-lg moreinfobtn" role="button" data-toggle="collapse" data-target='#moreinfo'>How it Works &raquo;</a></p>
    <div class="row">
        <br>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>

  </div>
</div>




