<div class= "jumbotron">
	<div class="container">
	  <h1>
	    Welcome Back Player
	  </h1>

	  <h2>Timeout is an application that allows you to connect and keep in touch with your friends</h2>
	  <p><a class="btn btn-primary btn-lg" role="button" data-toggle="collapse" data-target='#moreinfo'>How it Works &raquo;</a></p>
  </div>
</div>

<div class = "collapse out" id ="moreinfo">
<div class = "row">
	
	<div >
		<div class = "text-center">
			<h1>How does it work?</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class = "col-md-4">
		<h2>First</h2>
		<p>Add your friend on the app</p>
	</div>	

	<div class = "col-md-4">
		<h2>Second</h2>
		<p>Set your own availabilities</p>
	</div>	

	<div class = "col-md-4">
		<h2>Third</h2>
		<p>Watch the app output the timeslots where both you and your friend are free!</p>
	</div>
	
</div>
</div>

<div class="container">
	<div class = "col-md-4">
		<h2>Friends</h2>
		<p>Get connected with your friends</p>
		<%=image_tag "friends-fingers.jpg" %>
	</div>	

	<div class = "col-md-4">
		<h2>Timeout</h2>
		<p>Take some time out of your busy life to catch up with friends and family. They miss you just as much as you miss them</p>
	</div>	

	<div class = "col-md-4">
		<h2>Match</h2>
		<p>Timeout will match your free time slots with your friends' so you will not have to go through the back and forth of trying to find times where you're both available. </p>
	</div>
	
</div>
