<div class="header text-center">
    <h1 class="">AVAILABLE TIME</h1>
    <h3>Set your available times here!</h3>
    <br>
    <br>
    <br>
    <h4>*Be sure to add a valid begin and end time</h3>
</div>


<div class ="row text-center">
    <div class = "col-md-6 text-center">
        <h1>Begin Time</h1>
    </div>   
    <div class = "col-md-6">
        <h1>End Time</h1>
    </div>
    
    
</div>


<div class="container">

        <div class='col-md-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                    <input type='text' class="form-control" id="start" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class='col-md-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                    <input type='text' class="form-control" id="end" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker();
        $("#datetimepicker6").on("dp.change",function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change",function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<div class="container">
    <div class="text-center">
        <button class="btn btn-info btn-primary btn-lg btn-block" ng-click="main.Times.startTime()">SAVE</button>
    </div>
</div>

<div class="text-center" id="savemsg" style="display:none">Successfully saved!</div>