<h1>My Available Times</h1>
<h1>start</h1>
<div>
  <ul>
    <li ng-repeat="time in main.Times.start_times">
      {{time}}
    </li>
  </ul>
</div>
<div>
  <ul>
    <li ng-repeat="time in main.Times.end_times">
      {{time}}
    </li>
  </ul>
</div>





